body{
  margin: 0;
}

header{
  background-color: #f9f9f9;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* light subtle border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);   /* soft shadow */
   padding: 16px 0;
}

.flashcards{
  width: 50px;
  margin-right: 10px;
}

.title{
  font-family: inter;
  word-spacing: -2px;
  font-weight: lighter;

}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

